td {
	vertical-align: middle;
	color: black;
}
thead {
	color: #b7b3b3;
}
.user-header {
	margin-top: 20px;
}
.user-table-head{
	border: 1px solid #aaa2a2;
}
label {
	margin-top: 10px;
	margin-bottom: 5px;
}
input {
	margint-bottom: 10px;
}
image-container {
	background-color: #f9f491;
}